* {
    margin: 0px;
    font-family: arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_logo {
    height: 50px;
    width: 100px;
}
.nav_img {
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}


/*box 2*/

.nav_first {
    color: #cccccc;
    font-size: 0.85em;
    margin-left: 13px;
}

.nav_second {
    color: #ffffff;
    font-size: 1rem;
    margin-left: 3px;
}
.nav_update_location {
    display: flex;
    align-items: center;
}
/*box 3 */

.nav_search_box {
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    height: 40px;
}
.select_all {
    color: #e6e6e6;
    width: 50px;
    color: #0f1111;
    text-align: center;
    border: none;
    font-size: 1rem;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}
.search_box {
    width: 100%;
    border: none;
    font-size: 1rem;
}
.search_icon {
    width: 50px;
    text-align: center;
    background-color: yellowgreen;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: black;
}

/*box 4 */

.select_language {
    display: flex;
}
.bd_flag {
    width: 30px;
}
.select_country_language {
    color: #ffffff;
    background-color: #0f1111;
    border: none;
    font-size: 1rem;
    font-weight: bolder;
}

/*box 5*/
.hello_sign_in {
    color: #ffffff;
    font-size: 1rem;
}
.select_account {
    background-color: #0f1111;
    color: #ffffff;
    border: none;
    font-size: 1.2rem;
    font-weight: bolder;
}

/*box 6*/
.return_item {
    color: #ffffff;
    font-size: 1rem;
}
.order_item {
    color: #ffffff;
    font-size: 1.1rem;
    font-weight: bolder;
}

/*box 7*/
.nav_cart {
    display: flex;
}
.cart_icon {
    font-size: 1.6rem;
}
.cart_write {
    color: white;
    font-weight: bolder;
    margin-top: 9px;
    margin-left: 2px;
}